* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #1A1A1A;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}

.cardCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  padding-top: 5rem;
  /* border: white solid 3px; */
}

.pokeCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFBEA;
  border-radius: 70px;
  height: 7vh;
  width: 15vw;
  /* border: orange solid 3px; */
  margin: 2rem;
  padding: 2rem;
  font-family: 'Lobster', cursive;
}

.pokeTitle {
  background-color: #FFFBEA;
}

.pageTitle {
  color: #FFFBEA;
  font-family: 'Lobster', cursive;
  margin-top: 5rem;
  font-size: 100px;
}